.v-divider {
  height: 15px;
  display: inline-block;
  margin: 0 5px;
  background-color: #fff;
}

.bg-wo-gradient {
  color: white;
  border-radius: 2px;
  background: linear-gradient(180deg, #6dc3fd 0%, #3b8efb 100%);
}
