h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  z-index: 1000;
}

.toolbar img {
  position: absolute;
  width: 160px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.label-menu {
  margin-right: 25px;
  color: #fff;
}

@media (max-width: 320px) {
  .notification {
    margin-right: 0;
  }
}
