<div class="toolbar" role="banner">
  <mat-icon
    (click)="goToHome()"
    matTooltip="Inicio"
    matTooltipPosition="above"
    style="cursor: pointer; margin-left: 10%"
    >home</mat-icon
  >
  <div class="spacer"></div>
  <mat-icon
    (click)="goToAccesory()"
    matTooltip="Crear/Reportar"
    matTooltipPosition="above"
    style="cursor: pointer"
    >add_circle</mat-icon
  >
  <div class="spacer"></div>
  <mat-icon
    (click)="goToProfile()"
    matTooltip="Perfil"
    matTooltipPosition="above"
    style="cursor: pointer; margin-right: 10%"
    >account_circle</mat-icon
  >
</div>
