.outline {
  border: 1px #ffffff solid;
}

.aligned-with-icon {
  position: absolute;
  margin-top: 5px;
  margin-left: 5px;
}

.report-btn {
  position: absolute;
  right: 70px;
  top: 130px;
}

@media (max-width: 320px) {
  .report-btn {
    right: 20px;
    top: 130px;
  }
}
