/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/theming";
@include mat-core();

$primary: mat-palette($mat-blue, 700);
$accent: mat-palette($mat-orange, 300);
$warn: mat-palette($mat-red, 700);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);

html,
body {
  height: 100%;
  background-color: #faf6f6;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-form-field {
  width: 100%;
}

.clickable {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Estilos barra (thumb) de scroll */
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Estilos track de scroll */
::-webkit-scrollbar-track {
  background: #eeeeee;
  border-radius: 4px;
}

::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active {
  background: #e2e1e1;
}
