span {
  font-size: 17px;
  cursor: pointer;
}

.user-info {
  font-size: 13px;
}

.mat-icon {
  font-size: 60px;
  color: gray;
  cursor: pointer;
}

img {
  cursor: pointer;
  border: 2px solid #d4d4d4;
}

a {
  text-decoration: none;
  color: #1976d2;
}
